body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.off-screen-menu{
  background-color: #403b3b;
  height: 100vh;
  width: 100%;
  max-width: 250px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  padding-top: 8vh;
  transition: 0.8s ease;
}

.off-screen-menu.active {
    right: 0;
    transition: 0.8s ease;
}

.ham-menu-nav {
  padding-left: 0;
  display: flex;
  height: 100%;
  font-size: 18px;
}

.off-screen-menu ul {
  list-style-type: none;
  margin-block-end: 7px;
  padding-left: 0;
}

.off-screen-menu ul a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-left: 16px;
}

ul a:hover {
  color: #008000;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  border-bottom: 4px solid #008000;
}

li a.link-active {
  border-bottom: 4px solid #008000;
}

li{
    margin-bottom: 10px;
}

li a {
  padding-bottom: 3px;
}

.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #008000;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 767px) {
}