.kontakt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kontakt-inner {
  width: 100%;
  background-color: #efefef;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  margin: 60px auto;
}

button {
  background-color: #008000;
  border-width: 0;
  width: 150px;
  height: 43px;
  text-align: center;
}

button p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

input {
  border-style: none;
}
