body{
  font-family: "Raleway", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.kontakt-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(181, 180, 180, 0.493);
  border-radius: 12px;
  align-items: center;
}

.kontakt-inner {
 padding: 10px;
 width: 400px;
 height: 100%;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
}
.kontakt-inner h2{
  margin-top: 0
}

label{
  font-size: 12px;
 
}
input,
textarea{
  border: none;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}
textarea{
  height: 180px;
  resize: none;
 
  
}
.btn-primary {
  background-color: #008000;
  width: 150px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 120px;
  border-radius: 0;
}



