.rezeptvorstellung-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rezeptvorstellung-inner {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.rezeptvorstellung-top {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rezeptvorstellung-top h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  width: 100%;
  text-align: left;
}

.rezeptvorstellung-top img {
  width: 1440px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  display: block;
}


