/* Rezeptvorstellung  */

.rezeptvorstellung-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rezeptvorstellung-inner {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.rezeptvorstellung-top {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rezeptvorstellung-top h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  width: 100%;
  text-align: left;
}

.rezeptvorstellung-top img {
  width: 1440px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  display: block;
}

/* Rezeptvorstellung-Info */
.rezeptvorstellung-information {
  max-width: 1440px;
  display: flex;
  gap: 24px;
}

.rezeptvorstellung-information p {
  margin: 0;
}

.rezeptvorstellung-information-inner {
  background-color: #efefef;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  margin-top: 32px;
}

.rezeptvorstellung-information img {
  width: auto;
  height: 16px;
}

.rezeptvorstellung-line {
  width: 100%;
  max-width: 1440px;
  height: 2px;
  background-color: #efefef;
  margin-top: 100px;
  display: block;
}

/* Zutaten */
.zutaten-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 50px;
}

.zutaten-portionen {
  display: flex;
  align-items: center;
}

.personen-input {
  height: 36px;
  width: 150px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.btn {
  background-color: #008000;
  width: 150px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  border: none;
}

label {
  padding-right: 16px;
}

.zutaten-liste-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 24px 12px;
}

ul li:nth-child(even) {
  background-color: white;
  border-radius: 12px;
}

ul li:nth-child(odd) {
  background-color: #f0f0f0;
  border-radius: 12px;
}
