/* Rezeptvorstellung  */

.rezeptvorstellung-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.rezeptvorstellung-inner {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.rezeptvorstellung-top {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rezeptvorstellung-top h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  width: 100%;
  text-align: left;
}

.rezeptvorstellung-top img {
  width: 1440px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  display: block;
}

/* Rezeptvorstellung-Info */
.rezeptvorstellung-information {
  max-width: 1440px;
  display: flex;
  gap: 24px;
}

.rezeptvorstellung-information p {
  margin: 0;
}

.rezeptvorstellung-information-inner {
  background-color: #efefef;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  margin-top: 32px;
}

.rezeptvorstellung-information img {
  width: auto;
  height: 16px;
}

.rezeptvorstellung-line {
  width: 100%;
  max-width: 1440px;
  height: 2px;
  background-color: #efefef;
  margin-top: 100px;
  display: block;
}

/* Zutaten */
.zutaten-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.zutaten-portionen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.zutaten-portionen input {
  padding: 10px;
  width: 150px;       
  border-radius: 5px;
  border: 1px solid #ccc;
}

