main {
  max-width: 1440px;
  margin: 60px 160px;
}

.rezeptvorstellung h1 {
  margin: 0 0 24px 0;
  font-size: 36px;
  font-weight: 600;
}
.rezeptvorstellung > img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin-bottom: 18px;
}
.rezeptvorstellung > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.informations-zeit,
.informations-kcal,
.informations-datum {
  background: #efefef;
  padding: 6px 14px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}
.rezeptvorstellung span img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: inline-block;
  flex: 0 0 16px;
}
.zutaten-section {
  margin-top: 60px;
}
.zutaten-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.zutaten-controls {
  display: flex;
  align-items: center;
}
.zutaten-controls input {
  width: 60px;
  height: 36px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  text-align: center;
  font-size: 14px;
  padding: 0;
}
.portionen-btn {
  background-color: #008000;
  width: 150px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  border: none;
}
.zutaten-liste {
  list-style: none;
  margin: 0;
  padding: 0;
}
.zutat-item {
  padding: 18px 34px;
  border-radius: 8px;
  font-size: 16px;
}
.zutat-item:nth-child(odd) {
  background: #efefef;
}

.zutat-item:nth-child(even) {
  background: #ffffff;
}
.zubereitung-informationen {
  margin: 16px 0 16px 0;
}
.zubereitung-informationen .informations-zeit {
  background: #efefef;
  padding: 6px 14px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}
section h2 {
  font-weight: 600;
  margin: 60px 0 16px 0;
  font-size: 28px;
}
section p {
  line-height: 1.6;
  text-align: justify;
}
section h3 {
  margin: 60px 0 16px 0;
  font-size: 22px;
  font-weight: 600;
}
.kontakt-section-informationen {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 28px;
  font-weight: 600;
}
.kontakt-section-informationen img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}