@media (max-width: 1200px) {
  .header-inner {
    margin-left: 80px;
    margin-right: 80px;
  }
  .rezept-des-tages-container-inner {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .rezept-des-tages-container img {
    height: 300px;
  }
  .rezeptvorstellung-text p {
    text-align: center;
  }

  .lust-auf-was-neues-container {
    padding: 40px 80px 40px 80px;
  }
  .rezept-des-tages-container-inner {
    margin: 40px 80px 40px 80px;
    align-items: center;
  }

  .rezept-button {
    margin-top: 0;
  }

  .lust-auf-was-neues-quicklink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .was-ist-besser {
    flex-direction: column-reverse;
    gap: 40px;
    text-align: center;
  }
  .was-ist-besser-container {
    margin: 40px 80px 40px 80px;
  }

  .was-ist-besser p {
    max-width: 100%;
  }

  .was-ist-besser-img img {
    width: 100%;
    height: 300px;
  }

  .footer-inner {
    margin: 0 40px;
  }

  .footer-top {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }

  .footer-top > * {
    justify-content: center;
  }

  .footer-nav ul {
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .ham-menu-nav {
    display: none;
  }
  .off-screen-menu {
    display: none;
  }
}

@media (max-width: 900px) {
  .hauptmenu {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 60px;
  }

  .header-inner {
    gap: 30px;
  }

  .rezept-des-tages-container-inner {
    margin: 60px 40px 60px 40px;
  }

  .rezept-des-tages-container-img {
    text-align: center;
  }

  .rezept-des-tages-container img {
    border-radius: 12px;
    height: auto;
    width: 100%;
  }

  .rezept-button {
    margin-top: 0;
  }

  .lust-auf-was-neues-container {
    padding: 60px 40px 60px 40px;
  }

  .was-ist-besser-container {
    margin: 60px 40px 60px 40px;
  }

  .lust-auf-was-neues-quicklink {
    gap: 30px;
  }

  .was-ist-besser {
    gap: 24px;
  }

  .was-ist-besser-container-h2 {
    font-size: 24px;
  }
  .footer-inner {
    margin: 0 20px;
    gap: 20px;
  }

  .footer-top {
    gap: 24px;
  }

  .footer-logo img {
    height: 50px;
  }

  .footer-socials img {
    width: 36px;
  }

  .footer-nav ul {
    flex-direction: column;
    align-items: center;

    gap: 12px;
  }

  .footer-bottom p {
    font-size: 13px;
  }

}
