@media (min-width: 767px) {
    .ham-menu-nav{
        display: none;
    }
    .off-screen-menu{
        display: none;
    }
}

@media (max-width: 1150px) {
    .lust-auf-was-neues-quicklink{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}