body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
/* HERO SECTION */

header {
  width: auto;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.868);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000; /* damit er über allem liegt */
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav {
  padding-left: 0;
  display: flex;
  height: 100%;
  font-size: 18px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin-block-end: 7px;
}

ul a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #403b3b;
  margin-left: 16px;
}

ul a:hover {
  color: #008000;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  border-bottom: 4px solid #008000;
}

li a.link-active {
  border-bottom: 4px solid #008000;
}

li a {
  padding-bottom: 3px;
}

/* Rezepte */
.rezept-des-tages-container {
  background-color: #ffffff;
  height: 160px;
}
/* LUST AU WAS NEUES  */
.lust-auf-was-neues-container {
  background-color: #efefef;
  height: 160px;
}

/* WAS IST BESSER */
.was-ist-besser-container {
  background-color: #ffffff;
  height: 160px;
}

/* Footer */

footer {
  min-height: 300px;
  background-color: #403b3b;
  display:flex;
  justify-content: center;
align-items: center;
}

.footer-inner{
  width: 100%;
  height: 300px;
  max-width: 1440px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
}

.footer-inner h2 {
  color: white;
  font-weight: 200;
  font-size: 56px;
}

.footer-inner h3{
  color: white;
  font-weight: 100;
  font-size: 24px;
}

.footer-inner li a {
  color: white;
  font-size: 18px;
}

.footer-socials a{
  text-decoration: none;
}

.footer-socials img{
width: 35px;
height: auto;
margin-left: 32px;
margin-top: 16px;
}

.footer-inline{
  background-color: white;
  height: 180px;
  width: 1px;
}

.footer-logo{
  background-color: white;
  border-radius: 16px;
  height: auto;
  padding-left: 42px;
}

.footer-logo img{
  height: 80px;
}