body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
    overflow-x: hidden;
}

.content{
  position: relative;
  overflow-x: hidden;
}

/* HERO SECTION */

header {
  width: auto;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.868);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav {
  padding-left: 0;
  display: flex;
  height: 100%;
  font-size: 18px;
}

.hauptmenu ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin-block-end: 7px;
}

.hauptmenu ul a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #403b3b;
  margin-left: 16px;
}

.hauptmenu ul a:hover {
  color: #008000;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  border-bottom: 4px solid #008000;
}

li a.link-active {
  border-bottom: 4px solid #008000;
}

li a {
  padding-bottom: 3px;
}

/* Rezepte */

.rezept-des-tages-container {
  background-color: #ffffff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rezept-des-tages-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  margin: 80px 160px 80px 160px;
  gap: 50px;
}

.rezept-des-tages-container-inner h2 {
  margin: 0;
}

.rezept-des-tages-container img {
  border-radius: 12px;
  height: 250px;
}

.rezeptvorstellung-text p {
  text-align: justify;
}

.rezept-button{
  margin-top: 50px;
  padding: 10px;
}

/* LUST AU WAS NEUES  */
.lust-auf-was-neues-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
  padding: 80px 160px 80px 160px;
}

.lust-auf-was-neues-container h2 {
  margin: 0 0 50px 0;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.lust-auf-was-neues-quicklink {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
}
.quickLink {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.quickLink img {
  border-radius: 12px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  transition: all 75ms ease;
}

.quickLink img:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 25px 5px rgba(181, 180, 180, 0.55);
}

/* WAS IST BESSER */
.was-ist-besser-container {
  background-color: #ffffff;
  margin: 80px 160px 80px 160px;
}
.was-ist-besser {
  max-width: 1440px;
  margin: 0 auto;
}
.was-ist-besser-container-h2 {
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 28px;
  font-weight: 700;
  color: #000;
}
.was-ist-besser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  gap: 50px;
}
.was-ist-besser p {
  max-width: 720px;
  line-height: 1.5;
  margin: 0;
  color: #000000;
}
.was-ist-besser-img img {
  width: 375px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
/* Newsletter */

.newsletter-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.newsletter-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/newsletter_background.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(100%) blur(5px);
  transform: scale(1.05);
  z-index: -1;
}

.newsletter-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter-container-button input{
border: none;
padding: 15px 100px;
font-size: 18px;
margin: 0;
}
.newsletter-container-button{
  display: flex;
  gap: 3px;
  margin-top: 50px;
}
.newsletter-container-inner h2 {
  color: white;
  margin: 0;
  margin-top: 50px;
  font-size: 28px;
}

.newsletter-container-inner p {
  color: white;
  margin: 0;
  font-size: 16px;
  margin-top: 50px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 16px;
}

button{
  background-color: #008000;
  width: 150px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: none;
  }

/* Footer */

.footer {
  background-color: #403b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px 0;
}

.footer-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 160px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-logo {
  background-color: white;
  border-radius: 16px;
  padding: 12px 64px;
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 60px;
}

.footer-socials {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials img {
  width: 40px;
  height: 40px;
}

.footer-socials img:hover {
  border-radius: 50%;
  box-shadow: 0 0 8px #ffffff76, 0 0 20px #ffffff, 0 0 10px #ffffff;
  transition: 0.3s ease;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 3px;
   margin-left: 16px;
}

.footer-nav a:hover {
  color: #008000;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  border-bottom: 4px solid #008000;
}

.footer-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.footer-bottom p {
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
