body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: black;
}
/* HERO SECTION */

header {
  width: auto;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.868);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000; /* damit er über allem liegt */
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav {
  padding-left: 0;
  display: flex;
  height: 100%;
  font-size: 18px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin-block-end: 7px;
}

ul a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #403b3b;
  margin-left: 16px;
}

ul a:hover {
  color: #008000;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  border-bottom: 4px solid #008000;
}

li a.link-active {
  border-bottom: 4px solid #008000;
}

li a {
  padding-bottom: 3px;
}

/* Rezepte */

.rezept-des-tages-container {
    background-color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rezept-des-tages-container-inner{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: 160px;
  margin-right: 160px;
}
 
.rezeptvorstellung-text{
  margin-left: 30px;
}


.rezept-des-tages-container img{
  border-radius: 12px;
  height: 250px;
}



/* LUST AU WAS NEUES  */
.lust-auf-was-neues-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  height: 400px;
  justify-content: center;
}
.lust-auf-was-neues-quicklink{
  display: flex;
  gap: 200px;
  margin-top: 20px;
}
.quickLink{
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
   border-radius: 12px;
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 16px;
   font-weight: 600;
}
.quickLink img{
     border-radius: 12px;
     height: 250px;
     width: 250px;
     object-fit: cover;
}

/* WAS IST BESSER */
.was-ist-besser-container {
  background-color: #ffffff;
  height: 160px;
}

/* Footer */

footer {
  min-height: 300px;
  background-color: #403b3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner {
  width: 100%;
  height: 300px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
}

.footer-inner h2 {
  color: white;
  font-weight: 200;
  font-size: 56px;
}

.footer-inner h3 {
  color: white;
  font-weight: 100;
  font-size: 24px;
}

footer ul {
  padding-left: 0;
}

.footer-inner li a {
  color: white;
  font-size: 18px;
  margin-left: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-socials {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}

.footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials img {
  width: 35px;
  height: 35px;
  margin: 0;
}

.footer-socials img:hover {
  border-radius: 50%;
  box-shadow: 0 0 8px #ffffff76, 0 0 20px #ffffff, 0 0 10px #ffffff;
  transition: 0.3s ease;
}

.footer-inline {
  background-color: white;
  height: 180px;
  width: 1px;
}

.footer-logo {
  background-color: white;
  border-radius: 16px;
  height: auto;
  padding-left: 42px;
}

.footer-logo img {
  height: 80px;
}

input {
  height: 40px;
  flex: 1;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 16px;
}

form button {
  background-color: #008000;
  border-width: 0;
  width: 150px;
  height: 43px;
  text-align: center;
}

form button p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

input {
  border-style: none;
}

