h1 {
  font-weight: 600;
}
h2 {
  font-weight: 600;
}

.rezeptvorstellung-inner {
  max-width: 1440px;
  margin: 60px 160px;
}

.rezeptvorstellung img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.rezept-merkmale p {
  background: #efefef;
  padding: 6px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.rezept-merkmale {
  display: flex;
  gap: 10px;
}

.rezept-merkmale img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

/*Zutaten*/

.zutaten-inner {
  max-width: 1440px;
  margin: 60px 160px;
}

.zutaten-portionen {
  display: flex;
  align-items: center;
}

.personen-input {
  height: 36px;
  width: 150px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.btn {
  background-color: #008000;
  width: 150px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  border: none;
}

label {
  padding-right: 16px;
}
.zutaten-inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.zutaten-inner li {
  background-color: #efefef;
  padding: 18px 34px;
  border-radius: 8px;
  margin-bottom: 0;
}

.zutaten-inner li:nth-child(even) {
  background-color: #fff;
}

.zutaten-inner li:nth-child(odd) {
  background-color: #efefef;
}

/*Zubereitung*/

.zubereitung-inner {
  max-width: 1440px;
  margin: 60px 160px;
}
.zubereitung-inner ol {
  padding-inline-start: 0px;
}

.zubereitung-inner li {
  text-align: justify;
  margin-bottom: 16px;
}

.zubereitung-inner p {
  margin-top: 0;
  margin-bottom: 20px;
}

/*Autor*/

.autor-inner {
  max-width: 1440px;
  margin: 60px 160px;
}

.autor-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 28px;
}
.autor-container img {
  border-radius: 50%;
  height: 80px;
}

@media (max-width: 1200px) {
  .rezeptvorstellung-inner {
    margin: 40px 80px 40px 80px;
  }

  .zutaten-inner {
    margin: 40px 80px 40px 80px;
  }

  .zubereitung-inner {
    margin: 40px 80px 40px 80px;
  }

  .autor-inner {
    margin: 40px 80px 40px 80px;
  }
}

@media (max-width: 768px) {
  .rezeptvorstellung-inner {
    margin: 60px 40px 60px 40px;
  }

  .zutaten-inner {
    margin: 60px 40px 60px 40px;
  }

  .zubereitung-inner {
    margin: 60px 40px 60px 40px;
  }

  .autor-inner {
    margin: 60px 40px 60px 40px;
  }

  h1, h2, h3{
    text-align: center;
  }

}