.rezeptvorstellung-inner{
    max-width: 1440px;
}

.rezeptvorstellung img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin: 8px 0px;
  object-fit: cover;
}

.rezept-merkmale p {
  background: #efefef;
  padding: 1px 6px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rezept-merkmale {
  display: flex;
  gap: 10px;
}

.rezept-merkmale img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}
