.rezeptvorstellung-inner {
  max-width: 1440px;
  margin-left: 160px;
  margin-right: 160px;
}

.rezeptvorstellung img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.rezept-merkmale p {
  background: #efefef;
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rezept-merkmale {
  display: flex;
  gap: 10px;
}

.rezept-merkmale img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

/*Zutaten*/

.zutaten-inner {
  max-width: 1440px;
  margin-left: 160px;
  margin-right: 160px;
}

.zutaten-inner ul{
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Zubereitung*/

.zubereitung-inner {
  max-width: 1440px;
  margin-left: 160px;
  margin-right: 160px;
}

/*Autor*/

.aotor-inner{
  max-width: 1440px;
  margin-left: 160px;
  margin-right: 160px;
}